<div class="row">
    <div class="col">
        <button type="submit" class="btn bg-dark text-light form-control"> Create</button>
    </div>
    <div class="col">
        <a asp-action="Index" class="btn bg-dark text-light form-control" asp-controller="Agreement" asp-area="">Back To List</a>
    </div>
</div>